Libraries:
{% for lib in libraries -%}
    - {{ lib.name }} ({{ lib.homepage }})
  Description: {{ lib.description }}
  Category: {{ lib.categoryKey }}
  Import path: {{ lib.importPath }}

{% endfor %}
