doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/default.min.css')
    style.
      body {
        max-width: 800px;
        margin: auto;
        padding: 5px;
      }
      #readme-title {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px dotted #ccc;
      }
  body
    != markdown
