doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon', href=`${staticAssetPrefix}/favicon.svg`)
    link(rel='mask-icon', href=`${staticAssetPrefix}/favicon-mask.svg`, color='#000000')
    title P5 Server
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.js' crossorigin='anonymous' defer)
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css')
    style.
      body {
        max-width: 800px;
        margin: auto;
        padding: 5px;
      }
      #readme-title {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px dotted #ccc;
      }
  body
    h1 P5 Server
    ul
      each mount in mountPoints
        li
          a(href=mount.urlPath)= mount.name || mount.urlPath
