(function () {
  let msg = "Syntax error in " + {{ fileName | quote }} + ": " + {{ error.message | quote }};
  console.error(msg);
  document.body.innerHTML = {{ contextHtml | quote }};
  document.body.style.backgroundColor = "#fcc";
}) ();
