div(style={margin: '10px'})
  h1(style='color:red') Syntax error
  h2= error.message
  code(style='font-style:italic') File:&nbsp;
    = filepath
  br
  code= `line ${error.loc.line}, column ${error.loc.column}`
  br
  pre!= context
