node_modules
dist

*.tgz
*.log

p5-analysis/package/
p5-server/package/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tsbuildinfo
gh-pages
p5-server/src/server/static/console-relay.js
p5-server/src/server/static/iframe-manager.js
