<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>

  <style type="text/css">
    body {
      margin: 0;
    }
  </style>
</head>

<body></body>

<!-- import the javascript library file(s) -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js" crossorigin="anonymous"></script>
{% for path in libraries -%}
<script src="{{ path }}" crossorigin="anonymous"></script>
{% endfor %}

<!-- import the javascript sketch file -->
<script src="{{ sketchPath }}"></script>

</html>
