doctype html
html(lang='en')
  // pug: newline
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    style
      include sketch.css
  body

  // pug: newline
  // import the javascript library file(s)
  script(src=`https://cdn.jsdelivr.net/npm/p5@${p5Version}/lib/p5.min.js`, crossorigin='anonymous')
  each lib in libraries
    if lib.importPath
      script(src=lib.importPath, crossorigin='anonymous')

  // pug: newline
  // import the javascript sketch file
  script(src=`./${scriptFile}`)
