{
  "overrides": [
    {
      "files": ["**/src/server/static/**/*.js"],
      "globals": {
        "callee": true,
        "console": true,
        "document": true,
        "fetch": true,
        "window": true,
        "WebSocket": true
      },
      "rules": {
        "no-console": "off",
        "prefer-const": "off"
      }
    }
  ]
}
