Cache size: {{ entries.length }} entries

{%- for entry in entries %}
{{ entry.url }}
{%- if verbose %}
  Created: {{ entry.created.toLocaleString() }}
  Expires: {{ entry.expiresString or 'n/a' }}
{%- endif -%}
{%- endfor -%}
