Libraries:
{% for lib in libraries -%}
    - {{ lib.name }}
{% endfor %}

Missing imports:
{% for lib in libraries -%}
    {%- if not lib.importPath -%}
- {{ lib.name }}
    {% endif %}
{%- endfor -%}

Duplicates:
{% for name, libraries in definitions -%}
    {% if libraries.length > 1 -%}
- {{ name }}:
    {% for lib in libraries %}{{ lib.name }}, {% endfor %}
    {% endif -%}
{% endfor -%}
