name: Publish API Docs

on:
  push:
    branches: [docs]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Build p5-analysis
        run: bun run --cwd p5-analysis build

      - name: Build docs
        run: bun run build:docs

      - name: Analysis API
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: p5-analysis/build/docs
          target-folder: p5-analysis

      - name: Server API
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: p5-server/build/docs
          target-folder: p5-server
