name: Test Cross-Platform

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
        matrix:
          os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Test p5-analysis
        run: bun run --cwd p5-analysis test

      - name: Build p5-analysis
        run: bun run --cwd p5-analysis build

      - name: Test p5-server
        run: bun run --cwd p5-server test

      - name: Build p5-server
        run: bun run --cwd p5-server build
