name: Test Cross-Platform

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
        matrix:
          os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test
