<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css" />
  <style>
    body {
      max-width: 800px;
      margin: auto;
      padding: 5px;
    }

    #readme-title {
      display: block;
      border-bottom: 1px dotted #ccc;
    }
  </style>
</head>

<body>
  {% if projects.length %}
  <div class="ui segment">
    <h2 class="ui header">Sketches</h2>
    <div class="ui three stackable cards">
      {% for project in projects %}
      <div class="ui card">
        <div class="content">
          <a href="{{ project.rootFile }}">
            {{ project.name }}
          </a>
        </div>
        <div class="extra content">
          <a href="{{ project.rootFile }}">
            <i class="play icon"></i>
            Run
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if directories.length %}
  <div class="ui segment">
    <h2 class="ui header">Folders</h2>
    <ul>
      {% for folder in directories %}
      <li>
        <a href="{{ folder }}/">
          {{ folder }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if files.length %}
  <div class="ui segment">
    <h2 class="ui header">Loose Files</h2>
    <div>These files don't appear to be associated with any project in this directory.</div>
    <ul>
      {% for file in files %}
      <li>
        <a href="{{ file }}">
          {{ file }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if readme %}
  <div class="ui segment" id="readme">
    <a id="readme-title" href="{{ readme.name }}">{{ readme.name }}</a>
    {{ readme.html | safe }}
  </div>
  {% endif %}
</body>

</html>
