<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css" />
  <style>
    body {
      max-width: 800px;
      margin: auto;
      padding: 5px;
    }

    #readme-title {
      display: block;
      border-bottom: 1px dotted #ccc;
    }
  </style>
</head>

<body>
  <div class="ui breadcrumb">
    {% for component in pathComponents %}
    {% if not loop.first %}
    <div class="divider"> / </div>
    {% endif %}
    {% if loop.last %}
    <div class="section active"">{{ component.name }}</div>
    {% else %}
    <a class=" section" href="{{ component.path }}">{{ component.name }}</a>
      {% endif %}
      {% endfor %}
    </div>

    {% if projects.length %}
    <div class="ui segment">
      <h2 class="ui header">Sketches</h2>
      <div class="ui three stackable cards">
        {% for project in projects %}
        <div class="ui card">
          <div class="content">
            <a href="{{ project.rootFile }}">
              {{ project.name }}
            </a>
          </div>
          <div class="extra content">
            <a href="{{ project.rootFile }}">
              <i class="play icon"></i>
              Run
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if directories.length %}
    <div class="ui segment">
      <h2 class="ui header">Folders</h2>
      <div class="ui divided list">
        {% for folder in directories %}
        <div class="item">
          <i class="folder outline icon"></i>
          <a class="content" href="{{ folder }}/"> {{ folder }} </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if files.length %}
    <div class="ui segment">
      <h2 class="ui header">Loose Files</h2>
      <div>
        These files don't appear to be associated with any sketches in this directory.
        This may just be because p5-server doesn't currently inspect HTML files to see what other files they include.
        Also note that p5-server only recognizes literal strings, for example `loadImage("dog.png")`
        but not `name = "cat.png"; loadImage(name)`.
      </div>
      <div class="ui divided list">
        {% for file in files %}
        <div class="item">
          <i class="file outline icon"></i>
          <a class="content" href="{{ file }}"> {{ file }} </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if readme %}
    <div class="ui segment" id="readme">
      <a id="readme-title" href="{{ readme.name }}">{{ readme.name }}</a>
      {{ readme.html | safe }}
    </div>
    {% endif %}
</body>

</html>
